* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box 
}

*:focus {
      outline: none;
     }


html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
  }

#banner {
      display: flex;
      background-image: url(./maximalfocus.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 30vw;
      position: relative;
      height: max(100%, 800px)
}

#logo {
    height: max(10vh, 100px);
    width: 100%;
    background-color: rgb(39, 34, 39);
    opacity: .9;
    top: 200px;
    background-image: url(./stv.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center center;
    margin-top: 20vh;
}

#banner > p {
    margin-top: 30px;
    color: rgb(201, 201, 39);
    font-size: 1rem;
    text-align: center;

    position: absolute;
    bottom: 5px;
    left: 25%;

}

#right {
      display: flex;
      flex-direction: column;
      width: 70vw;
}

#top, #form, #bottom {
      height: max(33.31%, 400px);
      width: 100%;
      padding: 20px;
} 

#top, #bottom {
      background-color: rgba(211, 211, 211, 0.253);
}

#top {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
}

#bottom > p {
      font-size: 1.2rem;
}

#form {
      display: flex;
      align-items: center;
      box-shadow: 1px 5px 5px rgb(196, 192, 192);
}


label, input {
      display: block;
}

input:focus, input:active {
      border: 1px solid blue;
      box-shadow: 1px 4px 4px;
}

input:invalid:not(:placeholder-shown){
      border-color: red;
}

.input {
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid grey;
    overflow-y: auto;
}


#submit {
    margin: 10px 20px 20px 0;
    padding: 10px;
    background-color: rgb(140, 169, 196);
    border: 1px solid grey;
    border-radius: 3px;
}